body {
    font-family: Neue-Montreal;
    background-color: rgb(80, 255, 0);
    
}


#javaani {

    width: 100%;
    height: 800px;
    background-color: red;
    /* decidi tu */
}



::-moz-selection {
    /* Code for Firefox */
    color: rgb(0, 255, 0);
    background: rgb(0, 0, 0);
}

::selection {
    color: rgb(0, 255, 0);
    background: rgb(0, 0, 0);
}


@font-face {
    font-family: Neue-Montreal;
    src: url(NeueMontreal-Medium.otf);
    font-size: medium;


}

nav {
    display: flex;
    justify-content: space-between;
}


.logo {
    display: flex;
    margin: 0;
}


.logotesto {
    margin: 0;
    margin-left: 10px;
    cursor: pointer;
    font-family: Neue-Montreal;
    font-size: 24px;
    text-decoration: none;
    color: black;
    font-weight: 100;

}


.logoimg {
    background-image: url(Smirkstudiologo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    cursor: pointer;
}

.logoimg:hover {
    background-image: url(Smirkstudiologo2.png);
    background-color: black;
}

.logotesto:hover {
    background-color: black;
    color: rgb(0, 255, 0);

}

nav {
    padding-bottom:15px;

}

a {
    margin: 0;
    font-family: Neue-Montreal;
    font-size: 24px;
    text-decoration: none;
    color: black;
    font-weight: 400;

}

a:hover {
    background-color: black;
    color: rgb(0, 255, 0);

}


.navigazione {
    width: 120px;
    display: flex;
    flex-wrap: wrap;

}