html,body {
    font-family: Neue-Montreal;
    background-color: rgb(0, 255, 0);
    margin: 0;
   padding: 0 5px;
   padding-top: 0px;
}


#javaani {
    position: fixed;   /* Or absolute, depending on your scroll needs */
    top: 0;            /* Start at the very top */
    left: 0;
    width: 100%;
    height: calc(100% - 5px); /* Fills the screen minus your 5px bottom margin */
    background-color: black;
    overflow: hidden;
    display: block; 
    line-height: 0;
    z-index: -1;       /* Places it behind your nav/text content */
}

canvas {
    display: block !important;
}


::-moz-selection {
    /* Code for Firefox */
    color: rgb(0, 255, 0);
    background: rgb(0, 0, 0);
}

::selection {
    color: rgb(0, 255, 0);
    background: rgb(0, 0, 0);
}


@font-face {
    font-family: Neue-Montreal;
    src: url(NeueMontreal-Medium.otf);
    font-size: medium;


}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
     background-color: rgb(0, 255, 0);
}


.logo {
    display: flex;
    margin: 0;
}


.logotesto {
    margin: 0;
    margin-left: 10px;
    width: 270px;
    font-family: Neue-Montreal;
    font-size: 24px;
    text-decoration: none;
    color: black;
    font-weight: normal;

}


.logoimg {
    background-image: url(Smirkstudiologo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 85px;

}

.logoimg:hover {
    background-image: url(Smirkstudiologo2.png);
    background-color: black;
}

.logotesto:hover {
    background-color: black;
    color: rgb(0, 255, 0);

}

nav {
    padding-bottom: 15px;

}

a {
    
    margin: 0;
    font-family: Neue-Montreal;
    font-size: 24px;
    text-decoration: none;
    color: black;
    font-weight: 400;

    /* --- FIX PER IL JITTER --- */
    display: inline-block;
    /* Permette di gestire altezza e larghezza */
    line-height: 1;
    /* Forza l'altezza della riga a essere uguale al font-size */
    height: 30px;
    /* Imposta un'altezza fissa (leggermente superiore al font-size) */
    vertical-align: middle;
    /* Allinea il contenuto al centro */
    overflow: hidden;
    /* Impedisce a simboli giganti di uscire dal bordo */

}

a:hover {
    background-color: black;
    color: rgb(0, 255, 0);

}


.navigazione {
    width: 240px;
    display: flex;
    flex-direction: column;




}



hr {
    border: 1px solid black;
}







/*RESPONSIVE */
@media screen and (max-width: 768px) {
   
    .navigazione {
        width: 100px;
        display: flex;
        flex-direction: column;

    }


    .logotesto {
    margin: 0;
    margin-left: 10px;
    width: 140px;
    font-family: Neue-Montreal;
    font-size: 16px;
    text-decoration: none;
    color: black;
    font-weight: normal;

}


.logoimg {
    background-image: url(Smirkstudiologo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 50px;
    height:60px;

}



a {
   
    margin: 0;
    font-family: Neue-Montreal;
    font-size: 16px;
    text-decoration: none;
    color: black;
    font-weight: 400;

    /* --- FIX PER IL JITTER --- */
    display: inline-block;
    /* Permette di gestire altezza e larghezza */
    line-height: 1;
    /* Forza l'altezza della riga a essere uguale al font-size */
    height: 22px;
    /* Imposta un'altezza fissa (leggermente superiore al font-size) */
    vertical-align: middle;
    /* Allinea il contenuto al centro */
    overflow: hidden;
    /* Impedisce a simboli giganti di uscire dal bordo */

}


}